@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Times New Roman',  sans-serif;
    background: rgb(199, 196, 245);
}

/* photo of me on the first page */
#bob {width:95%;
    height:100%;
      border-radius: 10px;
  }
/* formating for the photos on the acheivements page */
#jeff {width:100%;
    height:50%;
      border-radius: 10px;
  }

/* title at the top for both pages */
.title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px
    padding: 20px;
  }
/* menu located on the far left of both pages of the website  */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px
    padding: 20px;
    height: 50em;
  }
/* box for hobbies, skills, and personal project on the homepage */
.container3 {
    display: flex; /* or inline-flex */
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 15px;
  }
/* class for including divisions for photos and text on the acheivements page */
.photos {
    display: flex; /* or inline-flex */
    justify-content: center;
    gap: 20px;
    margin-top: 20px
    padding: 20px;
    width: 200em;
  }
/* divive the boxes evenly */
.sub_box_even{
    border-radius: 10px;
    flex-shrink: 3;
    padding: 20px;
    }
/* format for menu */
  #sub_box1{
      background-color: rgb(222, 222, 255);
      text-align: right;
      flex-shrink: 3;
      /* height:100em; */
  }
/* division on the homepage that includes the about, hobbies, skills, personal project, as well as the embeded spotify playlist */
  #sub_box2{
      background-color: rgb(162, 157, 245);
        text-align: auto;
        flex-shrink: 100;
        height:13em;
        font-size: 18px;
  }
/* divison on the achivements page that includes the photo as well as the text */
  #p1_photo{
      background-color: rgb(140, 134, 227);
      flex-shrink: 5;
      height: 50em;
      width: 20em;
      font-size: 17px;
      justify-content:left;
      text-align: justify;
  }
/* format consistant for Hobbies, Skills, and personal project */
#hobbies{
    background-color: rgb(127, 122, 194);
    border-radius: 10px;
      flex-shrink: 3;
      padding: 15px;
      text-align: left;
}
